<% unless current_user.id == user.id %>
  <%= link_to user.username, user_url(user) %>

  <script type="applicatoin/javascript">


  </script>

  <% unless Friendship.can_friend?(current_user.id, user.id) %>
    <form action="<%= friendships_url %>" method="post">
      <input type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">

      <input type="hidden"
              name="friendship[in_friend_id]"
              value="<%= user.id %>">

      <input type="submit" value="Add Friend">
    </form>
  <% end %> <br>
<% end %>