<% unless current_user.id == user.id %>
  <%= link_to user.username, user_url(user) %>
  <span class="friend_buttons <%= 'can_unfriend' if current_user.friend_ids.include?(user.id) %>">
    <button data-in_friend_id="<%= user.id %>" class="friend">
      Add Friend
    </button>

    <button data-in_friend_id="<%= user.id %>" class="unfriend">
      Unfriend
    </button>

  </span>
  <br>
<% end %>



