<form class="secret_form" action="<%= secrets_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden"
          name="secret[recipient_id]"
          value="<%= @user.id %>">

  <input type="text" name="secret[title]" value="">

  <input type="submit" value="Create Secret">
  <div class="secret-tag-selects"></div>
  <a href="#" class="add-secret-tag">Add Another Tag</a>

  <input type="submit" name="Create Secret">
</form>

<script type="application/json" id="bootstrapped_tags">
  <%= Tag.all.to_json.html_safe %>
</script>

<script type="template/underscore" id="secret-tag-select-template">
  <select name="secret[tag_ids][]">
    <option>Select a tag</option>
    <%% _(tags).each(function (tag) { %>
      <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% }); %>
  </select>
  <br>
</script>

<script>
  var TAGS = JSON.parse($("script#bootstrapped_tags").html());

  function addSecretTagSelect () {
    var templateFn = _.template($("script#secret-tag-select-template").html());
    $("div.secret-tag-selects").append(templateFn({ tags: TAGS }));
  }

  addSecretTagSelect();
  $("a.add-secret-tag").on("click", function (event) {
    event.preventDefault();
    addSecretTagSelect();
  });
</script>
