<form action="<%= secrets_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="hidden"
          name="secret[recipient_id]"
          value="<%= @secret.recipient_id %>">

  <input type="text" name="secret[title]" value="">

  <input type="submit" value="Create Secret">

</form>