// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  /* ---Default State --- */

  .friend {
    display: inline;
  }

  .unfriend {
    display: none;
  }

  /* ---Modified State --- */
  .can_unfriend > .friend {
    display: none;
  }

  .can_unfriend > .unfriend {
    display: inline;
  }
